@model IEnumerable<MoneyAdmin.Data.Entities.Wallet>

@{
    ViewBag.Title = "Recent wallets";
}
<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>
        <hr />
        <div class="col-md-4">
            <div id="walletsContainer">
                
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        var walletsJson = @Html.Raw(Json.Encode(Model));
    </script>
}
