@model IEnumerable<MoneyAdmin.Data.Entities.Wallet>

@{
    ViewBag.Title = "Recent wallets";
}
<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>
        <hr />
        <div class="col-md-4">
            <div id="walletsContainer">
                <div data-bind="template: { name: 'wallet-template', foreach: wallets }"></div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        var walletsJson = @Html.Raw(Json.Encode(Model));
        initWalletScreen(walletsJson);
    </script>
}
<script type="text/html" id="wallet-template">
    <div data-bind="text: Name"></div>
    <div data-bind="text: InitialBalance"></div>
    <div data-bind="text: CreatedAt"></div>
</script>