@model IEnumerable<MoneyAdmin.ViewModel.WalletViewModel>

@{
    ViewBag.Title = "Recent wallets";
}
<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>
        <hr />
        <div class="row">
            <div id="walletsContainer">
                <div class="row">
                    <div data-bind="template: { name: 'wallet-template', foreach: wallets }" class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        var Urls = {
            Transactions: {
                New: '@Url.Action("New", "Transactions")'
            },
            Wallets: {
                Recent: '@Url.Action("Recent", "Wallets")',
            }
        };
        var container = 'walletsContainer';
    </script>
    <script>
        $(document).ready(function() {
            initWalletScreen();
        });
    </script>
}