@model IEnumerable<MoneyAdmin.Data.Entities.Wallet>

@{
    ViewBag.Title = "Recent wallets";
}
<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>
        <hr />
        <div class="col-md-4">
            <div>
                <ul>
                    @foreach (var wallet in Model)
                    {
                        <li>
                            @wallet.Name
                            <br />
                            @wallet.InitialBalance
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>